
.Parent{
    display: flex;
    flex-direction: row;
}


.Pyramid {
    margin-left: 15vw;
    margin-top: -58px;
}

.Skills{
    width: 50%;
}

@media(max-width:1033px) {
    .Skills{
        width: 100%
    }
    .Pyramid {
        display: none;
    }
    
}

.Decor {
    color:#914343;;
    font-size: 15px;
    font-family: 'La Belle Aurore';
    font-style: italic;
}
.BodyDecor{
    margin-left: 2vw;
    font-family: 'La Belle Aurore';
    font-size: 24px;
}
.NameTextDecor{
    color: #71368D;
    text-shadow: #6B2828;
    font-weight: bold;
    font-size: 24px;
}

.FooterDecor{
    margin-left: 2vw;
    font-family: 'La Belle Aurore';
    font-size: 15px;
}

a {
    font-size: 14px !important;
    color: skyblue;
}