.Decor {
    color:#914343;;
    font-size: 15px;
    font-family: 'La Belle Aurore';
    font-style: italic;
}
.BodyDecor{
    margin-left: 2vw;
    font-family: 'La Belle Aurore';
    font-size: 35px;
}
.NameTextDecor{
    color: #71368D;
    text-shadow: #6B2828;
    font-weight: bold;
    font-size: 35px;
}



@media(max-width:480px) {
    .NameTextDecor{
        font-size: 25px;
    }
    .BodyDecor{
        font-size: 25px;
    }
}

@media(max-width: 385px) {
    .NameTextDecor{
        font-size: 20px;
    }
    .BodyDecor{
        font-size: 20px;
    }
}

.FooterDecor{
    font-family: 'La Belle Aurore';
    font-size: 11px;
}